<SfDialog Header="Add New Document" Height="655px" IsModal="true" MinHeight="300px" @ref="Dialog" Target="#divTarget" Visible="false" Width="480px">
	<ChildContent>
		<SfSpinner CssClass="spinnerHeight" @ref="Spinner" Type="SpinnerType.Fabric" ZIndex="12000" />
		<DialogPositionData X="right" Y="center"></DialogPositionData>
		<DialogAnimationSettings Duration="500" Effect="DialogEffect.SlideRight"></DialogAnimationSettings>
		<DialogEvents OnOpen="OpenDialog" />
		<EditForm Model="Model" OnValidSubmit="SaveDocumentDialog" @ref="AddDocumentForm">
			<FluentValidationValidator />
			<div class="divContainerTable">
				<TextBoxControl @bind-Value="@(Model.DocumentName)" @bind-Value:event="ValueChanged" ID="textName" MaxLength="255" MinLength="1" Multiline="false" Placeholder="Name"
								ValidationMessage="@(() => Model.DocumentName)" />
				<TextBoxControl @bind-Value="@(Model.DocumentNotes)" @bind-Value:event="ValueChanged" ID="textNotes" MaxLength="2000" MinLength="1" Multiline="true" Placeholder="Notes" Rows="5"
								ValidationMessage="@(() => Model.DocumentNotes)" />
                <UploaderControl AutoUpload="true" FileSelected="OnFileSelected" ID="uploadDocument" Multiple="false" OnFileUpload="OnFileUpload" OnRemove="OnFileRemoved" Placeholder="Select a Document to upload" SetFlex="false">
                    @*AfterUpload="AfterUpload" BeforeUpload="BeforeUpload"*@
					<ValidationMessage For="() => Model.Files" />
				</UploaderControl>
			</div>
			<DialogFooter CancelMethod="CancelDocumentDialog" @ref="FooterDialog" />
		</EditForm>
	</ChildContent>
</SfDialog>